@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

#content {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 1300px;
}

a {
  text-decoration: none;
  color: black;
}

/* Navigation */

#logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#img_logo {
  width: 100px;
  height: 50px;
  margin-left: 15px;
  margin-bottom: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 50px;
  font-size: 20px;
}

nav li :hover {
  border-top: #3d86db 3px solid;
  padding-top: 53px;
}

nav ul :hover {
  color: #3d86db;
}

/* Description */
section h1 {
  margin-bottom: -10px;
}
/* Barre de Recherche */

#barre_recherche {
  display: flex;
}

form {
  display: flex;
}

#icone1 {
  font-size: 20px;
  padding: 20.5px;
  align-self: center;
  font-weight: bolder;
  background-color: #f2f2f2;
  border-color: #e2e2e2;
  border-radius: 20px 0 0 20px;
}

input {
  padding: 18px;
  border: 1px #e2e2e2 solid;
  font-size: 20px;
  font-weight: bolder;
}

button {
  color: white;
  font-weight: bolder;
  background-color: #0571cf;
  border-radius: 0px 20px 20px 0;
  font-size: 20px;
  margin: 15px 0;
}

.fa-magnifying-glass {
  font-size: 0;
}

/* Filtre */

#filtre {
  display: flex;
}

#filtre h3 {
  align-self: center;
}

#filtre ul {
  list-style-type: none;
  display: flex;
}

#filtre li {
  display: flex;
  align-items: center;
  font-weight: bold;
  border: #e2e2e2 solid 1px;
  border-radius: 30px;
  margin-right: 20px;
  padding-right: 10px;
  font-size: 17px;
}

.icone_filtre {
  color: #0571cf;
  border: #f2f2f2 solid 1px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 32px;
  margin-right: 10px;
}
.fa-child-reaching {
  color: #0571cf;
  border: #f2f2f2 solid 1px;
  padding: 10px 12px;
  background-color: #f2f2f2;
  border-radius: 32px;
  margin-right: 10px;
}
.information {
  display: flex;
  align-items: center;
}

.icone_info {
  color: #0571cf;
  border: #f2f2f2 solid 1px;
  padding: 8px 12px;
  border-radius: 30px;
  margin-right: 10px;
  font-size: 15px;
}

/*Hebergement à Marseille*/

#section1 {
  display: flex;
  margin-bottom: 80px;
  width: 1300px;
}

.img_hebergement {
  height: 120px;
  width: 240px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

#flex_heberg {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-right: 50px;
  padding-right: 35px;
}

#flex {
  display: flex;
  flex-wrap: wrap;
}

#Hebergement {
  margin-left: 23px;
}

.detail {
  padding-left: 15px;
}

article p {
  margin-top: -17px;
}

.hb {
  background-color: white;
  padding: 3px;
  margin-left: 23px;
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgba(0 0 0 / 20%);
  margin-bottom: 40px;
}

#section1 h3 {
  margin-top: -1px;
}

.af_plus {
  margin-left: 23px;
  padding-bottom: 30px;
  font-weight: bolder;
  margin-top: -15px;
}

/* etoile */

.star {
  display: flex;
}

aside .star {
  margin-top: 50px;
}

.fa-star {
  font-size: 13px;
}
.g5 {
  color: #f2f2f2;
}

.g4 {
  color: #f2f2f2;
}

.b1 {
  color: #0571cf;
}

.b2 {
  color: #0571cf;
}

.b3 {
  color: #0571cf;
}

.b4 {
  color: #0571cf;
}

.b5 {
  color: #0571cf;
}

/* Les plus Populaires */

aside {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0 30px;
}
aside article {
  display: flex;
}

#pop {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.img_populaire {
  height: 135px;
  width: 130px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.hbp {
  display: flex;
  background-color: white;
  padding: 4px;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 340px;
  box-shadow: 1px 1px 29px -3px rgba(0 0 0 / 20%);
}

/* Activites */

#activite {
  margin-bottom: 40px;
  width: 1300px;
}

#grid_activite {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

#activite h3 {
  margin-left: 20px;
}

/* Partie 1 */

#activite_1 {
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
  border-radius: 20px;
}

#img_activite_1 {
  border-radius: 20px 20px 0 0;
  height: 400px;
  width: 300px;
  object-fit: cover;
}

/* Partie 2 */
#p2 {
  display: grid;
  align-content: space-between;
}

#activite_p2_1 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}
#activite_p2_2 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}

#img_activite_2 {
  height: 200px;
  width: 280px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

#img_activite_3 {
  height: 120px;
  width: 280px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* Partie 3 */

#activite_4 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}

#img_activite_4 {
  border-radius: 20px 20px 0 0;
  height: 400px;
  width: 300px;
  object-fit: cover;
}

/* Partie 4 */

#p4 {
  display: grid;
  align-content: space-between;
}

#activite_p4_1 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}

#activite_p4_2 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}

#img_activite_5 {
  height: 160px;
  width: 358px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

#img_activite_6 {
  height: 160px;
  width: 358px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* Footer */

footer {
  width: 1300px;
  padding-top: 20px;
  display: flex;
  background-color: #f2f2f2;
}

footer ul {
  list-style-type: none;
}

footer div {
  margin-right: 200px;
}

footer h3 {
  margin-left: 40px;
}

footer li {
  margin-bottom: 10px;
}

/* Tablette  */

@media screen and (min-width: 768px) and (max-width: 991px) {
  /*La page entière*/

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 21px;
  }

  p {
    font-size: 19px;
  }

  /* Navigation */

  .banner {
    font-size: 24px;
  }

  /* Section Recherche */

  button {
    margin: 18px 0;
  }

  #filtre {
    width: 915px;
  }

  li {
    font-size: 20px;
  }

  /* Section Hebergement */

  #section1 {
    display: block;
  }

  #Hebergement {
    margin-left: 80px;
  }

  #flex_heberg {
    margin-right: 0;
    padding-right: 0;
  }

  .hb {
    margin-left: 80px;
    padding: 4px;
  }

  .img_hebergement {
    height: 147px;
    width: 300px;
  }

  .fa-star {
    font-size: 16px;
  }
  .star {
    margin-bottom: 5px;
  }

  .af_plus {
    font-size: 22px;
    margin-left: 80px;
  }

  /* Aside */

  aside {
    margin-top: 40px;
  }

  .fa-chart-line {
    font-size: 26px;
  }

  aside article {
    display: block;
  }

  #pop {
    width: 300px;
    flex-direction: row-reverse;
  }

  #flex_heberg_pop {
    display: flex;
    justify-content: space-around;
  }

  .img_populaire {
    height: 150px;
    width: 380px;
    border-radius: 20px 20px 0 0;
  }

  .hbp {
    width: 380px;
  }

  aside .star {
    margin-top: 4px;
  }

  /* Activites */

  #grid_activite {
    grid-gap: 50px;
  }

  #activite h3 {
    margin-left: 12px;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }

  #img_activite_1 {
    width: 280px;
  }

  #img_activite_2 {
    width: 250px;
  }

  #img_activite_3 {
    width: 250px;
  }

  #img_activite_4 {
    width: 310px;
  }

  #img_activite_5 {
    width: 310px;
  }

  #img_activite_6 {
    width: 310px;
  }

  /* Footer */
  footer div {
    margin-right: 125px;
  }

  footer h3 {
    width: 200px;
  }
}

/* Telephone */

@media screen and (max-width: 767px) {
  /* Ecran entier */

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 45px;
  }

  h3 {
    font-size: 50px;
  }

  /* Navigation */

  header {
    display: block;
    margin-bottom: 60px;
  }

  #logo {
    justify-content: center;
  }

  #img_logo {
    width: 300px;
    height: 140px;
    margin-left: 0;
    margin-left: 125px;
    margin-bottom: 100px;
  }

  #banner {
    justify-content: space-between;
    margin: 0 250px 0 150px;
  }

  nav li {
    font-size: 45px;
  }

  nav li :hover {
    border-bottom: #3d86db 3px solid;
    padding-bottom: 40px;
    border-top: 0;
  }

  nav ul :hover {
    color: #3d86db;
  }

  /*Section Recherche */

  #partie1 {
    width: 1350px;
  }

  #partie1 h1 {
    margin: 0 270px -10px 182px;
  }

  #presentation {
    margin-left: 182px;
  }

  #barre_recherche {
    margin-top: 50px;
    margin-left: 170px;
  }

  #icone1 {
    font-size: 60px;
    padding: 50px;
    border-radius: 53px 0 0 53px;
  }

  #barre_recherche input {
    font-size: 60px;
    padding: 43px;
  }

  button {
    margin: 45px -141px;
    padding: 0 50px;
  }

  .search {
    font-size: 0px;
  }

  .fa-magnifying-glass {
    font-size: 50px;
  }

  #filtre {
    display: block;
    font-size: 35px;
    margin: 0 170px;
  }

  #filtre ul {
    flex-wrap: wrap;
  }

  #filtre li {
    border: #e2e2e2 solid 3px;
    border-radius: 53px;
    margin-right: 35px;
    padding-right: 30px;
    font-size: 50px;
    margin-bottom: 20px;
  }

  .icone_filtre {
    padding: 24px;
    border-radius: 53px;
  }

  .fa-child-reaching {
    padding: 23px 30px;
    border-radius: 60px;
  }

  .information {
    margin-left: 220px;
    align-items: baseline;
  }

  .info {
    font-size: 50px;
  }

  .icone_info {
    font-size: 40px;
    margin-right: 50px;
    border: #f2f2f2 solid 3px;
    padding: 20px 32px;
    border-radius: 53px;
  }

  /* Section Populaire */

  #section1 {
    flex-direction: column-reverse;
  }

  #pop {
    font-size: 50px;
  }

  .hbp {
    padding: 10px;
    border-radius: 53px;
    width: 1150px;
    height: 460px;
  }

  .detail {
    padding-left: 70px;
    margin-right: 100px;
    padding-top: 50px;
  }

  .img_populaire {
    height: 460px;
    width: 415px;
    border-radius: 53px 0 0 53px;
  }

  aside {
    width: 1210px;
    padding: 0 70px;
  }

  .fa-star {
    font-size: 38px;
  }

  aside .star {
    margin-top: 195px;
  }

  /* Hebergement */

  #flex_heberg {
    display: block;
    background-color: white;
    padding-right: 0;
    margin-right: 0;
  }

  #Hebergement {
    font-size: 80px;
    margin-left: 70px;
  }

  #flex {
    margin: 0 70px 30px;
  }

  .hb {
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 53px;
    margin-left: 0;
  }

  .img_hebergement {
    height: 400px;
    width: 1150px;
    border-radius: 53px 53px 0 0;
  }

  #section1 h3 {
    margin-top: -25px;
  }

  #section1 p {
    margin-top: -37px;
  }

  .hb .detail .star {
    margin-bottom: 8px;
  }

  .af_plus {
    margin-left: 70px;
    padding-bottom: 0;
    margin-top: 0;
    font-size: 55px;
  }

  /* Activite */

  #Activite {
    font-size: 80px;
    margin-left: 70px;
  }

  #grid_activite {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    margin: 0 70px;
  }

  #activite_1 {
    border-radius: 53px;
  }

  #img_activite_1 {
    border-radius: 53px 53px 0 0;
    height: 400px;
    width: 1160px;
  }

  #p2 {
    grid-gap: 50px;
  }

  #activite_p2_1 {
    border-radius: 53px;
  }

  #img_activite_2 {
    border-radius: 53px 53px 0 0;
    height: 400px;
    width: 1160px;
  }

  #activite_p2_2 {
    border-radius: 53px;
  }

  #img_activite_3 {
    border-radius: 53px 53px 0 0;
    height: 400px;
    width: 1160px;
  }

  #activite_4 {
    border-radius: 53px;
  }

  #img_activite_4 {
    border-radius: 53px 53px 0 0;
    height: 400px;
    width: 1160px;
  }

  #p4 {
    grid-gap: 50px;
    border-radius: 53px;
  }

  #activite_p4_1 {
    border-radius: 53px;
  }

  #img_activite_5 {
    border-radius: 53px 53px 0 0;
    height: 400px;
    width: 1160px;
  }

  #activite_p4_2 {
    border-radius: 53px;
  }

  #img_activite_6 {
    border-radius: 53px 53px 0 0;
    height: 400px;
    width: 1160px;
  }

  /* Footer */

  footer {
    display: block;
    padding-bottom: 100px;
    padding-left: 50px;
    width: 1300px;
  }

  footer li {
    font-size: 45px;
    margin-bottom: 20px;
  }

  footer div {
    margin-right: 0;
  }
}
