@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

#content {
    max-width: 1300px;
    margin : 0 auto;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 1350px;
}

a {
  text-decoration: none;
  color: black;
}


/* Navigation */

#logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#img_logo {
  width: 100px;
  height: 50px;
  margin-left: 15px;
  margin-bottom: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 50px;
  font-size: 20px;
}

nav li :hover {
  border-top: #3d86db 3px solid;
  padding-top: 53px;
}

nav ul :hover {
  color: #3d86db;
}

/* Description */
section h1 {
  margin-bottom: -10px;
}
/* Barre de Recherche */

#barre_recherche {
  display: flex;
}

#icone1 {
  font-size: 20px;
  padding: 20.5px;
  align-self: center;
  font-weight: bolder;
  background-color: #f2f2f2;
  border-color: #e2e2e2;
  border-radius: 20px 0 0 20px;
}

input {
  padding: 18px;
  border: 1px #e2e2e2 solid;
  font-size: 20px;
  font-weight: bolder;
}

#boutton {
  color: white;
  font-weight: bolder;
  background-color: #0571cf;
  padding: 21.3px;
  border-radius: 0px 20px 20px 0;
}

/* Filtre */

#filtre {
  display: flex;
}

#filtre h3 {
  align-self: center;
}

#filtre ul {
  list-style-type: none;
  display: flex;
}

#filtre li {
  display: flex;
  align-items: center;
  font-weight: bold;
  border: #e2e2e2 solid 1px;
  border-radius: 30px;
  margin-right: 20px;
  padding-right: 10px;
  font-size: 17px;
}

.icone_filtre {
  color: #0571cf;
  border: #f2f2f2 solid 1px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 32px;
  margin-right: 10px;
}
.fa-child-reaching {
  color: #0571cf;
  border: #f2f2f2 solid 1px;
  padding: 10px 12px;
  background-color: #f2f2f2;
  border-radius: 32px;
  margin-right: 10px;
}

.icone_info {
  color: #0571cf;
  border: #f2f2f2 solid 1px;
  padding: 8px;
  border-radius: 30px;
  margin-right: 10px;
  font-size: 15px;
}

/*Hebergement à Marseille*/

#section1 {
  display: flex;
  margin-bottom: 80px;
  width: 1355px;
}

.img_hebergement {
  height: 120px;
  width: 240px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

#flex_heberg {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-right: 50px;
  padding-right: 35px;
}

#flex {
    display: flex;
    flex-wrap: wrap;
}

#Hebergement {
  padding-left: 40px;
}

.detail {
    padding-left: 15px;
}

article p {
    margin-top: -17px;
}

.hb {
  background-color: white;
  padding: 3px;
  margin-left: 40px;
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgba(0 0 0 / 20%);
  margin-bottom: 40px;
}

#section1 h3 {
  margin-top: -1px;
  font-size: 18px;
  font-weight: bolder;
}

.af_plus {
    margin-left: 40px;
    padding-bottom: 30px;
    font-weight: bolder;
    margin-top: -15px;
}

/* etoile */

.star {
  display: flex;
}

aside .star {
    margin-top : 50px;
}

.fa-star {
  font-size: 13px;
}
.g5 {
  color: #f2f2f2;
}

.g4 {
  color: #f2f2f2;
}

.b1 {
  color: #0571cf;
}

.b2 {
  color: #0571cf;
}

.b3 {
  color: #0571cf;
}

.b4 {
  color: #0571cf;
}

.b5 {
  color: #0571cf;
}

/* Les plus Populaires */

aside {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0 30px;
}
aside article {
    display: flex;
}

#pop {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.img_populaire {
  height: 135px;
  width: 130px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.hbp {
  display: flex;
  background-color: white;
  padding: 4px;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 340px;
  box-shadow: 1px 1px 29px -3px rgba(0 0 0 / 20%);
}

/* Activites */

#activite {
  margin-bottom: 40px;
}

#grid_activite {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 39px;
}

#activite h4 {
  margin-left: 20px;
}

/* Partie 1 */

#activite_1 {
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
  border-radius: 20px;
}

#img_activite_1 {
  border-radius: 20px 20px 0 0;
  height: 400px;
  width: 300px;
  object-fit: cover;
}

/* Partie 2 */
#p2 {
  display: grid;
  align-content: space-between;
}

#activite_p2_1 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}
#activite_p2_2 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}

#img_activite_2 {
  height: 200px;
  width: 280px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

#img_activite_3 {
  height: 120px;
  width: 280px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* Partie 3 */

#activite_4 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}

#img_activite_4 {
  border-radius: 20px 20px 0 0;
  height: 400px;
  width: 300px;
  object-fit: cover;
}

/* Partie 4 */

#p4 {
  display: grid;
  align-content: space-between;
}

#activite_p4_1 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}

#activite_p4_2 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}

#img_activite_5 {
  height: 160px;
  width: 358px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

#img_activite_6 {
  height: 160px;
  width: 358px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* Footer */

footer {
  width: 1350px;
  padding-top: 20px;
  display: flex;
  background-color: #f2f2f2;
}

footer ul {
  list-style-type: none;
}

footer div {
  margin-right: 200px;
}

footer h3 {
  margin-left: 40px;
}

footer li {
  margin-bottom: 10px;
}

/* Tablette  */

@media screen and (min-width: 768px) and (max-width: 991px) {

  #section1 {
    display: block;
  }

  #flex_heberg {
    width: unset;
    margin-right: unset;
  }

  h2 {
    font-size: 25px;
  }

  #section1 h4 {
    margin-top: 0px;
    font-size: 20px;
    width: 218px;
  }

  h5 {
    font-size: 16px;
  }

  span {
    font-size: 18px;
    margin-top: -45px;
  }

  article {
    padding-left: 10px;
    height: unset;
    justify-content: unset;
  }

  .star {
    margin-bottom: 5px;
  }

  /* Aside */

  aside {
    margin-top: 40px;
    display: flex;
  }

  #flex_pop {
    display: flex;
    flex-wrap: wrap;
  }

  aside h2 {
    width: 900px;
  }

  .hbp {
    flex-direction: column;
    margin-right: 40px;
    margin-bottom: 10px;
    width: unset;
    margin-bottom: 30px;
  }

  .img_populaire {
    height: 110px;
    width: 240px;
    border-radius: 20px 20px 0 0;
  }

  aside .star {
    margin-top: 4px;
  }

  aside article {
    margin-right: unset;
    margin-left: unset;
  }

  /* Activites */

  #grid_activite {
    grid-gap: 30px;
  }

  #activite h4 {
    margin-left: 14px;
    margin-bottom: 0px;
    padding-bottom: 10px;
  }

  #img_activite_1 {
    height: 400px;
    width: 210px;
  }

  #img_activite_2 {
    height: 200px;
    width: 200px;
  }

  #img_activite_3 {
    height: 120px;
    width: 200px;
  }

  #img_activite_4 {
    height: 400px;
    width: 240px;
  }

  #img_activite_5 {
    width: 205px;
  }

  #img_activite_6 {
    width: 205px;
  }

  /* Footer */
  footer div {
    margin-right: 125px;
  }

  footer h3 {
    width: 200px;
  }
}

/* Telephone */

@media screen and (max-width: 767px) {
  /* Navigation */

  header {
    display: block;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  #logo {
    display: block;
    margin: 0 auto;
    width: 275px;
  }

  #img_logo {
    width: 286px;
    height: 120px;
    object-fit: contain;
    margin: unset;
  }

  nav ul {
    justify-content: space-evenly;
  }

  nav li {
    font-size: 45px;
    margin-right: 200px;
  }

  nav li :hover {
    border-bottom: #3d86db 3px solid;
    padding-bottom: 40px;
    border-top: unset;
  }

  nav ul :hover {
    color: #3d86db;
  }

  /*Section Recherche */

  section h1 {
    font-size: 50px;
    margin: 0 245px;
    width: 770px;
    text-align: center;
  }

  #presentation {
    font-size: 35px;
    margin: 10px 245px 0 310px;
  }

  #barre_recherche {
    margin-top: 50px;
    margin-left: 350px;
  }

  #filtre {
    display: block;
    font-size: 35px;
    margin: 0 200px;
  }

  #filtre ul {
    flex-wrap: wrap;
  }

  #filtre li {
    border: #e2e2e2 solid 3px;
    border-radius: 40px;
    margin-right: 35px;
    padding-right: 30px;
    font-size: 50px;
    margin-bottom: 20px;
  }

  #info {
    font-size: 30px;
    margin-left: 240px;
    width: 650px;
  }

  .icone_info {
    font-size: 30px;
  }

  /* Populaire */

  #section1 {
    flex-direction: column-reverse;
  }

  aside {
    margin: 0 350px 0 200px;
  }

  #pop {
    margin-bottom: unset;
    padding-top: unset;
    font-size: 30px;
  }

  .hbp {
    padding: 7px;
    border-radius: 32px;
    width: unset;
    height: unset;
    font-size: 30px;
  }

  .img_populaire {
    height: 250px;
    width: 205px;
  }

  aside article {
    margin-top: 50px;
    margin-left: 21px;
    margin-right: unset;
  }

  span {
    margin-top: -65px;
    font-size: 30px;
  }

  .fa-star {
    font-size: 30px;
  }

  /* Hebergement */

  #flex_heberg {
    display: block;
    background-color: unset;
  }
}
