@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

#content {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: black;
}

/* Navigation */

#logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#img_logo {
  width: 130px;
  height: 65px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 50px;
  font-size: 20px;
}

nav li :hover {
  border-top: #0065FC 3px solid;
  padding-top: 53px;
}

nav ul :hover {
  color: #0065FC;
}

/* Description */
section h1 {
  margin-bottom: 0;
}

#presentation {
  margin-top: 7px;
}

/* Barre de Recherche */

#barre_recherche {
  display: flex;
}

form {
  display: flex;
}

.fa-location-dot {
  font-size: 20px;
  padding: 20.5px;
  align-self: center;
  font-weight: bolder;
  background-color: #f2f2f2;
  border-color: #e2e2e2;
  border-radius: 20px 0 0 20px;
}

input {
  padding: 18px;
  border: 1px #e2e2e2 solid;
  font-size: 16px;
  font-weight: bolder;
}

button {
  color: white;
  font-weight: bolder;
  background-color: #0065FC;
  border-radius: 0px 20px 20px 0;
  border: #0065FC 1px solid;
}

.fa-magnifying-glass {
  font-size: 0;
}

/* Filtre */

#filtre {
  display: flex;
}

#filtre h3 {
  align-self: center;
}

#filtre ul {
  list-style-type: none;
  display: flex;
}

#filtre li {
  display: flex;
  align-items: center;
  font-weight: bold;
  border: #e2e2e2 solid 1px;
  border-radius: 30px;
  margin-right: 20px;
  padding-right: 10px;
  font-size: 17px;
}

#filtre li:hover {
  background-color: #f2f2f2;
}

.icone_filtre {
  color: #0065FC;
  border: #f2f2f2 solid 1px;
  padding: 10px;
  background-color: #DEEBFF;
  border-radius: 32px;
  margin-right: 10px;
}
.fa-child-reaching {
  color: #0065FC;
  border: #f2f2f2 solid 1px;
  padding: 10px 12px;
  background-color: #DEEBFF;
  border-radius: 32px;
  margin-right: 10px;
}
#information {
  display: flex;
  align-items: center;
}

.icone_info {
  color: #0065FC;
  border: #f2f2f2 solid 1px;
  padding: 8px 12px;
  border-radius: 30px;
  margin-right: 10px;
  font-size: 15px;
}

/*Hebergement à Marseille*/

#hebergement {
  display: flex;
  margin-bottom: 80px;
}

#hebergement .hb:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}

.img_hebergement {
  height: 120px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.flex_heberg {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-right: 50px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex_heberg h2 {
  margin-left: 23px;
}

.detail {
  padding-left: 15px;
}

article p {
  margin-top: 2px;
}

.hb {
  background-color: white;
  padding: 3px;
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgba(0 0 0 / 20%);
  margin-bottom: 40px;
  width: 30%;
}

#hebergement h3 {
  margin: 0;
}

.af_plus {
  margin-left: 23px;
  padding-bottom: 30px;
  font-weight: bolder;
}

/* etoile */

.star {
  display: flex;
  margin-bottom: 6px;
}

aside .star {
  margin-top: 50px;
}

.fa-star {
  font-size: 13px;
}
.g5 {
  color: #f2f2f2;
}

.g4 {
  color: #f2f2f2;
}

.b1 {
  color: #0065FC;
}

.b2 {
  color: #0065FC;
}

.b3 {
  color: #0065FC;
}

.b4 {
  color: #0065FC;
}

.b5 {
  color: #0065FC;
}

/* Les plus Populaires */

aside {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0 30px;
}
aside article {
  display: flex;
}

#hebergement .hbp:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}

.pop {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.img_populaire {
  height: 135px;
  width: 120px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.hbp {
  display: flex;
  background-color: white;
  padding: 4px;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 310px;
  box-shadow: 1px 1px 29px -3px rgba(0 0 0 / 20%);
}

/* Activites */

#activite {
  margin-bottom: 40px;
}

#activite a:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}

#grid_activite {
  display: grid;
  grid-template-columns: repeat(5, 22.8%);
  grid-gap: 2.8%;
}

#activite h3 {
  margin: 0 0 3px 20px;
  padding: 12px 0;
}

/* Partie 1 */

.activite_1 {
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
  border-radius: 20px;
}

#img_activite_1 {
  border-radius: 20px 20px 0 0;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

/* Partie 2 */
#p2 {
  display: grid;
  align-content: space-between;
}

.activite_p2_1 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}
.activite_p2_2 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}

#img_activite_2 {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

#img_activite_3 {
  height: 120px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* Partie 3 */

.activite_4 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}

#img_activite_4 {
  border-radius: 20px 20px 0 0;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

/* Partie 4 */

#p4 {
  display: grid;
  align-content: space-between;
}

.activite_p4_1 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}

.activite_p4_2 {
  border-radius: 20px;
  box-shadow: 1px 1px 29px -3px rgb(0 0 0 / 20%);
}

#img_activite_5 {
  height: 160px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

#img_activite_6 {
  height: 160px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* Footer */

footer {
  padding-top: 20px;
  display: flex;
  background-color: #f2f2f2;
}

footer ul {
  list-style-type: none;
}

footer div {
  margin-right: 4%;
  width: 30%;
}

footer h3 {
  margin-left: 40px;
}

footer li {
  margin-bottom: 10px;
}

/* Tablette  */

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Section Recherche */

  #filtre {
    width: 100%;
  }

  #filtre li {
    margin-right: 8px;
    padding-right: 4px;
  }

  .icone_filtre {
    margin-right: 5px;
  }

  .fa-child-reaching {
    margin-right: 5px;
  }

  /* Section Hebergement */

  #hebergement {
    display: block;
  }

  .flex_heberg {
    margin-right: 0;
    padding-right: 0;
    border-radius: 0;
  }

  .hb {
    padding: 4px;
  }

  .img_hebergement {
    height: 147px;
    width: 100%;
  }

  .fa-star {
    font-size: 16px;
  }

  .af_plus {
    font-size: 20px;
  }

  /* Aside */

  aside {
    margin-top: 40px;
    padding: 0 3px 20px;
    border-radius: 0;
  }

  article {
    width: 100%;
  }

  .fa-chart-line {
    font-size: 22px;
  }

  aside article {
    display: block;
  }

  .pop {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  #flex_heberg_pop {
    display: flex;
    justify-content: space-around;
  }

  aside h2 {
    margin-left: 10px;
  }

  .img_populaire {
    height: 150px;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .hbp {
    width: 30%;
    margin: 0 1.5%;
  }

  aside .star {
    margin-top: 4px;
  }

  /* Activites */

  #activite h3 {
    margin-right: 10px;
    margin-bottom: 0;
  }

  /* Footer */
  footer div {
    margin-right: 12%;
  }

  footer h3 {
    width: 100%;
  }
}

/* Telephone */

@media screen and (max-width: 767px) {
  /* Ecran entier */

  /* Navigation */

  nav a {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 3px #e2e2e2 solid;
  }

  nav li {
    width: 50%;
    text-align: center;
    margin: 0;
  }

  header {
    display: block;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  #logo {
    justify-content: center;
    margin-left: 5%;
  }

  #img_logo {
    width: 76px;
    height: 50px;
    object-fit: cover;
  }

  nav ul {
    padding: 0;
  }

  nav li :hover {
    border-top: 0;
    padding-top: 0;
  }

  nav ul a:hover {
    border-bottom: #3d86db 3px solid;
  }

  /*Section Recherche */

  #partie1 {
    margin: 0 4%;
  }

  .fa-location-dot {
    padding: 14.5px 12px;
  }

  input {
    padding: 14px;
  }

  button {
    border-radius: 16px;
    padding: 14px;
    margin-left: -10px;
  }

  .search {
    font-size: 0;
  }

  .fa-magnifying-glass {
    font-size: 16px;
  }

  #filtre {
    display: block;
  }

  #filtre ul {
    flex-wrap: wrap;
    padding-left: 0;
  }

  #filtre li {
    margin-bottom: 10px;
  }

  #information {
    align-items: baseline;
  }

  /* Section Populaire */

  #hebergement {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }

  #hebergement h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .pop {
    width: 95%;
  }

  .img_populaire {
    width: 35%;
  }

  aside {
    padding: 0 3%;
    border-radius: 0;
  }

  article {
    width: 100%;
  }

  .hbp {
    width: 100%;
    margin-bottom: 15px;
  }

  /* Hebergement */

  .flex_heberg {
    width: 90%;
    display: block;
    background-color: white;
    padding-right: 0;
    margin: 0 4%;
  }

  .flex_heberg h2 {
    margin-left: 0;
  }

  .flex {
    display: block;
    margin-bottom: 25px;
  }

  .hb {
    display: block;
    padding: 0 0 5px 0;
    width: 100%;
    margin-right: 0;
  }


  .img_hebergement {
    height: 155px;
    width: 100%;
  }

  .af_plus {
    margin: 0;
    padding-bottom: 0;
  }

  /* Activite */

  #activite {
    margin: 0 4%;
  }

  #activite a {
    margin-bottom: 20px;
  }

  #grid_activite {
    display: block;
  }

  .activite_1 {
    display: block;
  }

  #img_activite_1 {
    height: 155px;
    width: 100%;
  }

  #p2 {
    display: block;
  }

  .activite_p2_1 {
    display: block;
  }

  #img_activite_2 {
    height: 155px;
    width: 100%;
  }

  .activite_p2_2 {
    display: block;
  }

  #img_activite_3 {
    height: 155px;
    width: 100%;
  }

  .activite_4 {
    display: block;
  }

  #img_activite_4 {
    height: 155px;
    width: 100%;
  }

  #p4 {
    display: block;
  }

  .activite_p4_1 {
    display: block;
  }

  #img_activite_5 {
    height: 155px;
    width: 100%;
  }

  .activite_p4_2 {
    display: block;
  }

  #img_activite_6 {
    height: 155px;
    width: 100%;
  }

  /* Footer */

  footer {
    display: block;
    width: 100%;
    padding-bottom: 2px;
  }

  footer li {
    margin-bottom: 5px;
  }

  footer div {
    margin-right: 0;
    width: 100%;
  }
}
